<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <script>

    function findLongestWord(str) {
  var arr = str.split(' ');
let newArr = arr.sort(function compare(a,b){
    return a-b ;
});
  str = newArr.pop();

   return str.length; 
}

a = findLongestWord("The quick brown fox jumped over the lazy dog"); console.log(a);

    </script>
</body>
</html>